# Django
DJANGO_SECRET_KEY=change-me
DJANGO_DEBUG=1
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
DJANGO_CSRF_TRUSTED_ORIGINS=
DJANGO_TIME_ZONE=UTC
DJANGO_LOG_LEVEL=INFO

# Cache
REDIS_URL=

# Plays anti-fraud
PLAY_IP_SALT=change-me
PLAY_UA_SALT=change-me
PLAY_COUNT_AFTER_SECONDS=59

# OAuth (optional)
ENABLE_ALLAUTH=0
DJANGO_SITE_ID=1

# Prod security (only for prod settings)
DJANGO_SECURE_SSL_REDIRECT=1
DJANGO_HSTS_SECONDS=0
