# PyCharm
.idea/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/

# Virtual env
.venv/
venv/
env/

# Build
dist/
build/
*.egg-info/

# OS
.DS_Store
Thumbs.db


db.sqlite3
*.sqlite3
*.sqlite3-journal
