{% extends "base.html" %}
{% block title %}رمز تغییر کرد | کست{% endblock %}

{% block content %}
<div class="auth">
  <div class="auth__card">
    <div class="auth__brand">
      <span class="auth__mark" aria-hidden="true"><svg class="icon"><use href="#i-lock"/></svg></span>
      کست
    </div>
    <h1 class="auth__title">رمز تغییر کرد</h1>
    <p class="auth__sub">حالا می‌توانی با رمز جدید وارد شوی.</p>

    <div class="notice notice--good">
      <svg class="icon"><use href="#i-check-circle"/></svg>
      <div>رمز عبور با موفقیت تغییر کرد.</div>
    </div>
    <a class="btn btn--primary btn--block mt-4" href="{% url 'login' %}">ورود</a>


  </div>
</div>
{% endblock %}
